BODY {
	vertical-align: top;
	background: buttonface;
	text-align: center;
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica;
	border-colapse: colapse;
	background-color: buttonface;
	border-style: none;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px
}

FONT {
	FONT-FAMILY: Verdana, Helvetica;
	FONT-SIZE: 10px
}

TABLE {
	cellpadding: 0px;
	cellspacing: 0px;
	border-colapse: colapse;
	border-style: none;
}

TR {
	width: 100%;
	vertical-align: top;
}

TD {
	FONT-FAMILY: Verdana, Helvetica;
	FONT-SIZE: 10px;
}

INPUT {
	background-color: text;
	border-style: none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px
}

OBJECT {
	border-colapse: colapse;
	background-color: buttonface;
	border-style: none;
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
	margin-right: 0
}

HR {
	background-color: buttonface;
	color: transparent;
	border-style: gradient;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px
}

P {
	FONT-FAMILY: Verdana, Helvetica;
	FONT-SIZE: 10px
}

DIV {
	FONT-FAMILY: Verdana, Helvetica;
	FONT-SIZE: 10px
}

INPUT {
	FONT-FAMILY: Verdana, Helvetica;
	FONT-SIZE: 10px;
	border: 1px solid;
	border-color: #000000
}

TEXTAREA {
	FONT-FAMILY: Verdana, Helvetica;
	FONT-SIZE: 10px
}

FORM {
	FONT-FAMILY: Verdana, Helvetica;
	FONT-SIZE: 10px
}

A:link {
	BACKGROUND: none;
	COLOR: #000000;
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: none
}

A:active {
	BACKGROUND: none;
	COLOR: #000000;
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: none
}

A:visited {
	BACKGROUND: none;
	COLOR: #000000;
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: none
}

A:hover {
	BACKGROUND: none;
	COLOR: #dd6900;
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: none
}

.grid {
	FONT-FAMILY: Verdana, Helvetica;
	FONT-SIZE: 10px
}

#pagerLoadding .grid {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: blue;
	border-style: gradient;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	filter: alpha : 30%
}

#pagerLoadding .grid table {
	width: 50%;
	height: 50%;
	color: red;
	border-style: gradient;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px
}

#pagerLoadding .grid table tr td {
	width: 50%;
	height: 50%;
	color: red;
	border-style: gradient;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px
}
/*
#pagerLoadding .grid {position:absolute; width:130px; border:1px Solid #B2B2B2; background:#FFFF99; color:#000; font:11px "Trebuchet MS", Arial, Helvetica, sans-serif; padding:10px; filter:progid:DXImageTransform.Microsoft.Shadow(color="#777777", Direction=135, Strength=3); z-index:	10000;}
*/