/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


s|TextInput
{
	borderAlpha: 1.0;
	borderColor: #FFFFFF;
	color: #FFFFFF;
	contentBackgroundAlpha: 0.9;
	contentBackgroundColor: #38CCFF;
	fontSize: 14;
	skinClass: ClassReference("views.component.skins.RoundedTextInputSkin");
}
	