#contenedorAlertTexto, #contenedorAlertImagen{
	width: 902px;
	height: 400px;
	top: 184px;
	left: 60px;
}

#contenedorAlertImagen{
	width: 942px;
	height: 433px;
	top: 148px;
	left: 41px;
}

#textoAlert{
	font-size: 40px;
	font-family: 'Helvetica LT Std';
	color: white;
	top: 140px;
	left: 110px;
}

#contenedorAlertTexto, #contenedorAlertImagen{
	display: none;
}

#contenedorAlertTexto, #contenedorAlertImagen, #textoAlert{
	position: absolute;
}