@font-face{
    font-family: 'Helvetica LT Std';
}

span.titulo{
	font: 12px;
	color: black;
	font-family: Helvetica LT Std;
	font-weight:normal;
}

span.titulo_negrita{
	font: 12px;
	color: black;
	font-family: Helvetica LT Std, Bold;
	font-weight:bold;
}

.datos{
	font: 12px;
	color: black;
	font-family: Helvetica LT Std, Bold;
	font-weight:normal;
}

.datos_resaltados{
	font: 13px;
	color: black;
	font-family: Helvetica LT Std, Bold;
	font-weight:bold;
}

.subtitulo{
	font: 12px;
	color: black;
	font-family: Helvetica LT Std, Bold;
	font-weight:bold;
}

.bloque{
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
	}
  