#botonera{
    background: url('../Images/botonera/bg_opacity.png') no-repeat;
    width:300px;
    height:343px;
    margin-top: 22px;
 }
 
 #botones{
    margin-top:13px;
	margin-left:16px;
 }
 
 #botones td{
    padding-top:5px;
    padding-left:10px;
 }
 
 /***** Font and Size from number ********/
 .numberButton{
  font: 35px Helvetica LT Std;
  color: white;
 }
 
 /**** Background images for buttons *****/
 .numberButton{ background: url('../Images/Teclado/super_box.png');}
  #btnBorrar  { background: url('../Images/botonera/borrar.png'); }
  
  /*****  Common Rules  ***/
  .numberButton, #btnBorrar{
    border: none;
	width:68px;
    height:68px;
	background-repeat: no-repeat;
  }