#contenedor_cargando{
	margin-top: -768px;
	padding: 0;
	width: 1024px;
	height: 768px;
	display: none;
}

#cuadro_cargando{
	background: url(../Images/cargando/cuadro.png) no-repeat;
	width: 817px;
	height: 429px;
	top: 170px;
	left: 104px;
}

#texto_cargando{
	background: url(../Images/cargando/cargando.png) no-repeat;
	top: 200px;
	left: 38px;
	width: 588px;
	height: 61px;
}

#imagen_cargando{
	background: url(../Images/cargando/pelotitas.png) no-repeat;
	top: 209px;
	left: 644px;
	width: 144px;
	height: 41px;
}

#contenedor_cargando, #cuadro_cargando, #texto_cargando, #imagen_cargando{
	position: absolute;
}