#datosPersonales{
	width: 986px;
	height: 158px;
	background: url(../Images/keyboard_opacity.png) no-repeat;
}

#datosPersonales label{ 
	font-size: 23px;
	font-family: Helvetica LT Std;
	color: #262f47; 
}

#datosPersonales input{
	font-size: 19px;
	font-family: Helvetica LT Std;
	height: 28px;
	color: #1478a5;
}

.colum1{ 
	padding-left: 45px;
	padding-right: 20px;
}
 
#txtCelularPrefijo, #txtFonoPrefijo{ 
	width: 40px;
}
 
#txtNombres{ 
	width:310px;
}

#txtFechaNacimiento{ 
	width: 213px;
}

#txtApellidoPaterno{ 
	width: 233px;
}

#txtApellidoMaterno{ 
	width: 228px;
}

#txtCelular{ 
	width: 250px;
}

#txtFono{ 
	width: 250px;
}

#txtSexo{ 
	width: 352px;
}

#txtEmail{ 
	width: 335px;
}