 #footer{
    top: 690px;
 }
 
 #btnCancelar{
   width: 211px;
   height: 49px;
   background: url('../Images/cancelar.png') no-repeat;
   left: 84px;
 }
 
 #btnVolver{
   width: 190px;
   height: 58px;
   background: url('../Images/volver.png') no-repeat;
   left: 579px;
   top: -5px;
 }
 
 #btnContinuar{
   width: 192px;
   height: 58px;
   background: url('../Images/continuar.png') no-repeat;
   left: 780px;
   top: -5px;
 }

 #footer, #btnCancelar, #btnVolver, #btnContinuar{
    position: absolute;
 }
 
 #btnContinuar, #btnCancelar, #btnVolver{
    border: none;
 }