body{ 
	margin: 0;
	padding: 0;
	font-family:'Helvetica LT Std';
	background: #00b8f1;
	overflow: hidden;
}

 #contenedor{
   width: 1024px;
   height: 768px;
   background: url('../Images/bg_miniclinic.png') no-repeat;
 }
 
 #barra_pasos{
	top:70px;
 }
 
 #paso{
   top: 72px;
   left: 19px;
   font-size: 20px;
 }
 
  #title_page{
   color: white;
   font-size: 32px;
   top: 10px;
 }
 
 #subtitle_page{
   top: 50px;
   color: white;
 }
 
 #line{
 	top:100px;
 }
 
 #title_page, #subtitle_page{
 	left: 20px;
 }
 
 #body{
  	width: 1024px;
  	top: 170px;
 }
 
#title_page, #subtitle_page, #paso, #line, #body, #barra_pasos{
	position: absolute;
}

#title_page, #subtitle_page, #paso{
	font-family: inherit;
}

.title{
    color: white;
	font-size: 30px;
}

button:active{
	border: none;
}

/** fix "pasos" **/
#paso1, #paso2{
	margin-left: -3px;
}
#paso4, #paso5, #paso6, #paso7{
	margin-left: 5px;
}

#paso8, #paso9, #paso10, #paso11{
	margin-left: 3px;
}

