body{ 
	margin:0;
	padding: 0;
}

#contenedor{
   width:1024px;
   height:768px;
   background: url('../Images/bg_home.png') no-repeat;
 }

#animacion{
	margin: 0;
	padding: 0;
    top: 132px;
    border: none;
}

#nombre_sucursal{
	top: 43px;
	left: 20px;
}

#mensaje{
  font-size:35px;
  color:white;
  position:absolute;
  top:110px;
  left:60px;
}

#welcome_img{
   position:absolute;
   left:650px;
   top:300px;
}

#btnIngresar{
	top: 540px;
	left: 362px;
	width: 318px;
	height: 117px;
	border:none;
	background: url('../Images/ingresar_home.png') no-repeat;
}

#fecha{ left: 60px; }
#hora { right: 80px; }

.texto{
    color:white;
  	font-size: 35px;
	color: white;
	font-family: Helvetica LT Std;
}

/** Common Rules **/
div, #btnIngresar{ position: absolute; }
#fecha, #hora{ top: 719px; font-size: 27px; }