
#mensaje{
	background: url(../Images/finalizado/paso11_1.png) no-repeat;
	width: 933px;
	height: 432px;
	margin-left:40;

}
#boton_no{
	background: url(../Images/finalizado/btn_no.png) no-repeat;
	width: 91px;
	height: 50px;
	border: none;
	float: right;
	margin-top:350px;
	margin-right:20px;
	}
	
#boton_si{
	background: url(../Images/finalizado/btn_si.png) no-repeat;
	width: 91px;
	height: 50px;
	border: none;
	float: right;
	margin-top:350px;
	margin-right:100px;
	}