#title_step_five{
    color: white;
    font-size: 25px;
	top: 1px;
	left: 45px;
}

#arrow{
	left: 28px;
	top: 10px;
}

#motivosConsulta, #precios_ul{
    list-style: none;
    top: 60px;
    text-align: left;
}

#precios_ul{
	left:400px;
}

#motivosConsulta li button, .precios{
    width: 381px;
	height: 42px;
	margin-bottom: 10px;
	font-size: 29px;
	color: #335060;
	border: none;
	line-height: 45px;
	padding-left: 15px;
 }

 #motivosConsulta li button{
   background: url('../Images/btn_estandar.png') no-repeat;
   line-height: 25px;
   text-align: left;
   padding-left: 5px;
   margin-bottom: 12px;
 }
 
 .precios{
   color: white;
   background: url('../Images/cuadro_precio.png') no-repeat;
   width: 215px;
   height: 40px;
   font-size: 20px;
 }

 .sin_precios{
   color: white;
   width: 215px;
   height: 45px;
   font-size: 20px;
 }

 
 #cuadro_paso5{
    right: 50px;
    top: 150px;
 }
 
 #title_step_five, #arrow, #motivosConsulta, #precios_ul, #cuadro_paso5{
 	position: absolute;
 }