#separador{
	margin: 0;
	padding: 0;
	top: -170px;
	left: 0;
	background: url(../Images/Paso7/separador.png) no-repeat;
	width: 1024px;
	height: 768px;
}

#confirmacion{
	background: url(../Images/Paso7/cuadro-azul-grande.png) no-repeat;
	width: 396px;
	height: 397px;
	top: 169px;
	left: 75px; 
}

#arrow{
	top: 31px;
	left: 25px;
}

#presione{
	width: 312px;
	heigth: 50px;
	top: 27px;
	left: 45px;
}

#info_motivo{
	top: 109px;
	left: 50px;
	right: 10px;
	color: cyan;
	font-size: 29px;
	font-family: Helvetica LT Std;
}

.rel_info{
	font-size: 28px;
}

#medico{
	top: 190px;
}

#valor{
	top: 320px;
}

#medico, #valor, .rel-info{
	color: white;
	font-family: Helvetica LT Std, bold;
	font-size: 22px;	
}

.indicador{
	margin-top: 46px;
	margin-left: 34px;
}

#info{
	top: 450px;
}

#el_monot{
	top: 22px;
	left: 41px;
}

#medico, #valor, #info{
	background: url(../Images/Paso7/cuadro-azul-chico.png) no-repeat;
	width: 409px;
	height: 106px;
	left: 570px;
}

#separador, #confirmacion, #medico, #valor, #info,#presione , #arrow, #el_monot, #info_motivo{
	position: absolute;
}