@font-face{
    font-family: 'Helvetica LT Std';
}

#title{
	font: 30px;
	color: white;
	left: 340px;
	font-family: Helvetica LT Std, Bold;
}
  
#arrow_image{
	left:320px;
	top:9px;
}

#date{
	top:60px;
	left:360px;
	font-family: Helvetica LT Std;
	font-size: 14px;
	color: red;/*#1478a5;*/
}

#date input{
	width: 85px;
	height: 40px;
	font-size: 25px;
    border: 3px solid #1478a5;
    margin-right: 10px;
}

#botonera{
	top: 100px;
	left: 348px;
}
		
/*** Common rules **/
#date, #botonera, #title, #arrow_image, #lbl_day, #lbl_month, #lbl_year{
	position:absolute;
}

 #lbl_day, #lbl_month, #lbl_year{
	top:-21px;
	color:white;
	font-size:20px;
	text-align:center;
	margin-left: 20px;
}

#body{
	top: 140px;
}