#step_six_title{
	font-size: 28px;
	color:white;
	left: 45px;
}

#arrow{
	left: 28px;
	top: 10px;
}

#sintomas{
	margin-top: 80px;
	width: 100%;
	height: 400px;
}

.button_normal{
	cursor: hand;
	background: url(../Images/btn_estandar.png) no-repeat;
	width: 381px;
	height: 42px;
	float: left;
	margin-left: 40px;
	margin-bottom: 10px;
	font-size: 29px;
	color: #335060;
	line-height: 45px;
	border: none;
	text-align: left;
	padding-left: 13px;
}

#step_six_title, #arrow{
	position: absolute;
}