#tipoPrevision{
	list-style:none;
	position:absolute;
	top:76px
}

#tipoPrevision li button{
    width:381px;
	height:42px;
	margin-bottom: 15px;
	font-family: Helvetica LT Std;
	font-size: 25px;
	color: #335060;
	border:none;
	padding-left: 30px;
	text-align: left;
	background: url('../Images/btn_estandar_mano.png') no-repeat
 }
 
 #cuadro{
 	 position:absolute;
     top:53px;
     left:480px;
 }
 
 #text_info_Isapres{
 	position:absolute;
    color:white;
    font-size:28px;
    font-family: Helvetica LT Std;
    top: 45px;
    right: 50px;
 }