#teclado{
  position: absolute;
  top: 190px;
  left:62px;
  width: 899px;
  height: 314px;
  background: url('../Images/Teclado/teclado_mayusculas/bg_teclado.png') no-repeat;
}

/****************  Common Rules  ******************/
#teclado button{
  border:none;
  width: 68px;
  height: 68px;
  background-repeat: no-repeat;
  margin-left: 5px;
  font-family:Helvetica LT Std;
  font-size:26px;
  color:white;
}

#firstRow, #thirdRow{ margin-left: 25px; }

.mayus, .minus { background: url('../Images/Teclado/super_box.png'); }

/****************  First Row  ******************/
#firstRow { margin-top:10px; }
#Delete{ background: url('../Images/Teclado/teclado_mayusculas/Borrar.png'); }

/****************  Second Row  ******************/
#secondRow{  margin-left: 70px; }

/****************  Third Row  ******************/
#Shift{ background: url('../Images/Teclado/teclado_mayusculas/Shift.png'); }
#Punto{ background: url('../Images/Teclado/teclado_mayusculas/Punto.png'); }
#Guion{ background: url('../Images/Teclado/teclado_mayusculas/Guion.png'); }
#Arroba{ background: url('../Images/Teclado/teclado_mayusculas/Arroba.png'); }

/****************  Fourth Row  ******************/
#fourthRow{  margin-left: 230px; }
#Espacio{ background: url('../Images/Teclado/teclado_mayusculas/Espacio.png'); }
#COM{ background: url('../Images/Teclado/teclado_mayusculas/Com.png'); }
#Cl{ background: url('../Images/Teclado/teclado_mayusculas/Cl.png'); }

/***************************************/

