FONT {
	FONT-FAMILY: Verdana, Helvetica;
	FONT-SIZE: 10px
}

TD {
	FONT-FAMILY: Verdana, Helvetica;
	FONT-SIZE: 10px
}

BODY {
	FONT-FAMILY: Verdana, Helvetica;
	FONT-SIZE: 10px
}

P {
	FONT-FAMILY: Verdana, Helvetica;
	FONT-SIZE: 10px
}

DIV {
	FONT-FAMILY: Verdana, Helvetica;
	FONT-SIZE: 10px
}

body {
	background-color: #ffffff;
	scrollbar-face-color: transparent;
	scrollbar-highlight-color: transparent;
	scrollbar-shadow-color: transparent;
	scrollbar-3dlight-color: transparent;
	scrollbar-arrow-color: transparent;
	scrollbar-track-color: transparent;
	scrollbar-darkshadow-color: transparent;
}

FORM {
	FONT-FAMILY: Verdana, Helvetica;
	FONT-SIZE: 10px
}

A:link {
	BACKGROUND: none;
	COLOR: #0033AA;
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: none
}

A:active {
	BACKGROUND: none;
	COLOR: #FFFF99;
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: none
}

A:visited {
	BACKGROUND: none;
	COLOR: #EEEEEE;
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: none
}

A:hover {
	BACKGROUND: none;
	COLOR: #ffffff;
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: none
}

.title {
	BACKGROUND: none;
	COLOR: #FFFF99;
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: none
}

.content {
	BACKGROUND: none;
	COLOR: #FFFFFF;
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana, Helvetica
}

.block-title {
	BACKGROUND: none;
	COLOR: #FFFF99;
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana, Helvetica
}

.storytitle {
	BACKGROUND: none;
	COLOR: #FFFF99;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: none
}

.storycat {
	BACKGROUND: none;
	COLOR: #FFFFff;
	FONT-SIZE: 10px;
	FONT-WEIGHT: bold;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: underline
}

.boxtitle {
	BACKGROUND: none;
	COLOR: #FFFF99;
	FONT-SIZE: 10px;
	FONT-WEIGHT: bold;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: none
}

.boxcontent {
	BACKGROUND: none;
	COLOR: #FFFFFF;
	FONT-SIZE: 10px;
	FONT-FAMILY: Verdana, Helvetica
}

.option {
	BACKGROUND: none;
	COLOR: #000000;
	FONT-SIZE: 10px;
	FONT-WEIGHT: bold;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: none
}

.optionD {
	BACKGROUND: none;
	COLOR: #000000;
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: none
}

.tiny {
	BACKGROUND: none;
	COLOR: #ffffff;
	FONT-SIZE: 10px;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: none
}

.small {
	BACKGROUND: none;
	COLOR: #ffffff;
	FONT-SIZE: 9px;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: none
}

.table-small {
	font-family: Verdana, Helvetica;
	font-size: 10px
}

.contenido-mensaje {
	BACKGROUND: none;
	COLOR: #6688DD;
	FONT-SIZE: 16px;
	FONT-FAMILY: Bookman Old Style
}

.contenido-mensaje2 {
	BACKGROUND: none;
	COLOR: #6688AA;
	FONT-SIZE: 12px;
	FONT-FAMILY: Wide Latin
}

INPUT {
	FONT-SIZE: 11px;
	FONT-FAMILY: Verdana, Helvetica;
	color: #000088;
	background-color: #FFFFCC;
	border: #FFFFff;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px
}

input.button {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	background-color: #000000;
	border: #FFFFff;
	border-style: solid;
	color: #003399;
}

input.radio {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	background-color: transparent;
	color: #FFFFCC;
	border: #FFFFff;
	border-style: solid;
	color: #003399;
}

TEXTAREA {
	FONT-SIZE: 11px;
	FONT-FAMILY: Verdana, Helvetica;
	color: #000088;
	background-color: #FFFFCC;
	border: #ffffff;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px
}

select {
	font-size: 11px;
	background-color: #FFFFCC;
	color: #000088;
	font-family: Verdana, Geneva, Arial, Helvetica;
	border: #ffffff;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px
}

SELECT {
	BORDER-TOP-COLOR: #000000;
	BORDER-LEFT-COLOR: #000000;
	BORDER-RIGHT-COLOR: #000000;
	BORDER-BOTTOM-COLOR: #000000;
	BORDER-TOP-WIDTH: 1px;
	BORDER-LEFT-WIDTH: 1px;
	FONT-SIZE: 10px;
	BORDER-BOTTOM-WIDTH: 1px;
	FONT-FAMILY: Verdana, Helvetica;
	BORDER-RIGHT-WIDTH: 1px
}

.contenido-mensaje {
	BACKGROUND: none;
	COLOR: #6688DD;
	FONT-SIZE: 16px;
	FONT-FAMILY: Bookman Old Style
}

.contenido-mensaje2 {
	BACKGROUND: none;
	COLOR: #6688AA;
	FONT-SIZE: 12px;
	FONT-FAMILY: Wide Latin
}

.menu_capa {
	BACKGROUND: none;
	COLOR: #000088;
	FONT-SIZE: 12px;
	FONT-FAMILY: Wide Latin
}