{#$cabecera#}
		<link type="text/css" href="Resources/Css/paso5.css" rel="stylesheet" />
   	   <link type="text/css" href="Resources/Css/paso6.css" rel="stylesheet" />
   	   <script type="text/javascript" src="Resources/Js/validacion.paso6.js"></script>
   	   
   	   <img src="Resources/Images/arrow1.png" width="10px" height="12px" id="arrow"/>
       <span id="step_six_title"> Detalle de su consulta - {# $subTituloPagina #}</span>		
		
		<div id="sintomas">
  			<ul id="motivosConsulta">
  				{# foreach from=$sintomas item=sintoma #}
  				<li id="{#$sintoma.idTipoConsulta#}" onclick="nextVacunas('{#$sintoma.idTipoConsulta#}','{#$sintoma.nombre#}', '{#$sintoma.valor#}')" >
  					<button type="submit">{# $sintoma.nombre #}</button>
  				</li>
  				{# /foreach #}
  			 </ul>
	  	</div>
  		
  		<div id="precios">
  			<ul id="precios_ul">

				{# foreach from=$sintomas item=sintoma #}
					{#if $sintoma.esPrecio == 'S'#}
  					<li class="precios">{# $sintoma.valor|number_format:0:".":"."#}</li>
					{#/if#}
  				{# /foreach #}
	        </ul>
  		</div>
{#$pie#}