    <link rel="stylesheet" href="Resources/css/rightBar.css" type="text/css" />
	<div id="rightBar" >
		<span id="ingRut" class="title"><img src="Resources/Images/arrow1.png" id="arrow"/>&nbsp;&nbsp;Ingrese su Rut:</span><br>
		<span id="subtitle" style="#b9e4ff;margin-left: 10px">&nbsp;&nbsp;SIN GUI&Oacute;N: (EJ:145377488)</span><br>&nbsp;&nbsp;
		<input id="txtRut" />
		{#$botonera#}
	</div> <!-- end rightBar-->