    <link type="text/css" href="Resources/Css/datosPersonales.css" rel="stylesheet" />
	<script type="text/javascript" src="Resources/Js/keyboard.writer.js"></script>

	<table id="datosPersonales" border="0">
        <tr>
            <td class="colum1">
               <img src="Resources/Images/arrow1.png" /><label>&nbsp;{#$nombre#} {#$apPaterno#} {#$apMaterno#}</label> 
               <input type="hidden" value="{#$nombre#}"  {#if $nombre#}readonly="readonly" disabled="true" {#/if#}  name="txtNombres" id="txtNombres"  />
	        </td>
	        <td class="colum2">
			  <img src="Resources/Images/arrow1.png" /><label>&nbsp;E-mail:</label>
               <input type="text" value="{#$email#}"  name="email" id="txtEmail" onclick="changeTarget('txtEmail')" />
                <input type="hidden" value="{#$fechaNacimiento#}" {#if $fechaNacimiento#}readonly="readonly" disabled="true" {#/if#}  name="txtFechaNacimiento" id="txtFechaNacimiento" />
	        </td>
        </tr>
		<tr>
            <td class="colum1">
				<img src="Resources/Images/arrow1.png" /><label>&nbsp;Celular:</label>
               <input type="text" value="{#$fonoCelular#}" name="txtCelular" id="txtCelular" onclick="changeTarget('txtCelular')" />
              <input type="hidden" value="{#$apPaterno#}"  {#if $apPaterno#}readonly="readonly" disabled="true"{#/if#} name="txtApellidoPaterno"  id="txtApellidoPaterno" />
	        </td>
	        <td class="colum2">    
               <input type="checkbox" name="preguntaSMS" value="1" id="preguntaSMS" /> <label>{#$preguntaSMS#}</label>
	        </td>
        </tr>
		<tr>
            <td class="colum1">
				 <img src="Resources/Images/arrow1.png" /><label>&nbsp;Tel&eacute;fono:</label>
               <input type="text" name="txtFono" value="{#$fonoFijo#}" id="txtFono" onclick="changeTarget('txtFono')" />
               <input type="hidden" value="{#$apMaterno#}"  {#if $apMaterno#}readonly="readonly" disabled="true" {#/if#}  name="txtApellidoMaterno" id="txtApellidoMaterno" />
	        </td>
	        <td class="colum2">
               <input type="checkbox" name="preguntaActualizaciones" value="1" id="preguntaSMS" /> <label>{#$preguntaActualizaciones#}</label>
	        </td>
        </tr>
		<tr>
            <td class="colum1">
                <input type="hidden" value="{#$genero#}"  {#if $genero#} readonly="readonly" disabled="true" {#/if#}  name="txtSexo" id="txtSexo" />
			  
	        </td>
	        <td class="colum2">
              
	        </td>
        </tr>
    </table>