    </div> <!-- /body -->
      
    <div id="footer">
           <input type="hidden" name="op" value="{#$pasoSiguiente#}" id="op" />
           <button type="submit" id="btnCancelar" onclick="cancelar()"></button>
		   <button type="submit" id="btnVolver" onclick="atras('{#$pasoAnterior#}')"></button>
	       <button type="submit" id="btnContinuar"></button>
    </div> <!-- /footer -->
    
    </form>
 </div> <!-- /contenedor -->
 {#$alert#}
 {#$cargando#}
</body>
</html>