    <link rel="stylesheet" type="text/css" href="Resources/Css/botonera.css" />
    <div id="botonera">
	  <table id="botones">
	    <tr>
		   <td><button id="btn1" class="numberButton" onclick="_write('1')">1</button></td>
		   <td><button id="btn2" class="numberButton" onclick="_write('2')">2</button></td>
		   <td><button id="btn3" class="numberButton" onclick="_write('3')">3</button></td>
		</tr>
		<tr>
		   <td><button id="btn4" class="numberButton" onclick="_write('4')">4</button></td>
		   <td><button id="btn5" class="numberButton" onclick="_write('5')">5</button></td>
		   <td><button id="btn6" class="numberButton" onclick="_write('6')">6</button></td>
		</tr>
		<tr>
		   <td><button id="btn7" class="numberButton" onclick="_write('7')">7</button></td>
		   <td><button id="btn8" class="numberButton" onclick="_write('8')">8</button></td>
		   <td><button id="btn9" class="numberButton" onclick="_write('9')">9</button></td>
		</tr>
		<tr>
	       <td><button id="btnK" class="numberButton" onclick="_write('K')">K</button></td>
	       <td><button id="btn0" class="numberButton" onclick="_write('0')">0</button></td>
   		   <td><button id="btnBorrar" onclick="_write('Delete')" ></button></td>
		</tr>
	  </table>
    </div> <!-- botonera -->