{#$cabecera#}
    <script type="text/javascript" src="Resources/Js/validar.fecha.js"></script>
    <script type="text/javascript" src="Resources/Js/validacion.paso3.js"></script>
	<script type="text/javascript" src="Resources/Js/writer.js"></script>
    <link rel="stylesheet" type="text/css" href="Resources/Css/paso3.css" />

        <img src="Resources/Images/arrow1.png" width="10px" height="12px" id="arrow_image"/>
        
	    <span id="title">Ingrese su fecha de nacimiento</span>
	    <div id="date">
	        <span id="lbl_day">D&Iacute;A</span>
            <input type="text" name="day" id="day"/>
            
            <span id="lbl_month">MES</span>
	        <input type="text" name="month" id="month"/>
	        
	        <span id="lbl_year">A&Ntilde;O</span>
	        <input type="text" name="year" id="year"/><br/>
		    <span id="subtitle" style="color:#b9e4ff;margin-left:20px">(DD)</span>
		    <span id="subtitle" style="color:#b9e4ff;margin-left:70px">(MM)</span>
		    <span id="subtitle" style="color:#b9e4ff;margin-left:60px">(AAAA)</span>
		</div>
		{#$botonera#}
		
{#$pie#}