{#$cabecera#}
		<link rel="stylesheet" type="text/css" href="Resources/Css/index.css" />
		<script type="text/javascript" src="Resources/Js/validacion.paso1.js"></script>
		<script type="text/javascript" src="Resources/Js/writer.rut.js"></script>
		<script type="text/javascript" src="Resources/Js/validar.rut.js"></script>
		{#$bloque_derecho#}
{#$pie#}