{#$cabecera#}
<link rel="stylesheet" type="text/css" href="Resources/Css/finalizado.css" />
<script type="text/javascript" src="Resources/Js/validacion.finalizado.js"></script>
<script type="text/javascript" src="Resources/Js/jquery-1.6.2.min.js"></script>

		<div id="mensaje"> 
		{#if $minutosEstimados > 0 #}
			<div id="numero">{#$numeroPacientesEspera#}</div>
			<div id="tiempoEspera">{#$tiempoEsperaMinimo#} y {#$tiempoEsperaMaximo#} minutos.</div>
		{#/if#}
				<button  id="boton_si"  type="submit"  onclick="solicitudSMS('1')" ></button>
				<button  id="boton_no"  type="submit" onclick="solicitudSMS('0')"></button>
		</div>
{#$pie#}