{#$cabecera#}
<link rel="stylesheet" type="text/css" href="Resources/Css/prevision.css" />
<script type="text/javascript" src="Resources/Js/validacion.paso2.js"></script>
      <div id="previsiones">
      
	        <span class="title" style="position:absolute;left:45px">
	          <img src="Resources/Images/arrow1.png" id="arrow"/>&nbsp;&nbsp;{#$tituloPagina#}
	        </span>
			
			<ul id="tipoPrevision" >
		  		{# foreach from=$previsiones item=prevision #}
		   		       <li id="{#$prevision.codigoPrevision#}">
		   		       		<button type="submit" onclick="next('{#$prevision.tipoPrevision#}','{#$prevision.codigoPrevision#}','{#$prevision.nombrePrevision#}')">{# $prevision.nombrePrevision #}</button>
		   		       </li>
		  		{# /foreach #}
          	</ul>
          	
			<img src="Resources/Images/cuadro_paso2.png" id="cuadro" />

        </div> <!-- fin previsiones -->
{#$pie#}