<link type="text/css" href="Resources/Css/cargando.css" rel="stylesheet" />

<div id="contenedor_cargando" >
	<div id="cuadro_cargando">
		<div id="texto_cargando"></div>
		<div id="imagen_cargando"></div>
	</div>
</div>