{#$cabecera#}
   	   <link type="text/css" href="Resources/Css/paso6.css" rel="stylesheet" />
   	   <script type="text/javascript" src="Resources/Js/validacion.paso6.js"></script>
   	   <script type="text/javascript" src="Resources/Js/jquery-1.6.2.min.js"></script>
   	   
 
   	   
   	   <img src="Resources/Images/arrow1.png" width="10px" height="12px" id="arrow"/>
       <span id="step_six_title">Detalle de su consulta - {# $subTituloPagina #}</span>
       
        <div id="sintomas">
		   	{# foreach from=$sintomas item=sintoma #}
 		   		<button id='{#$sintoma.idSintoma#}' class="button_normal" onClick="next('{#$sintoma.idSintoma#}','{#$sintoma.nombre#}')">{#$sintoma.nombre#}</button>
			{# /foreach #}
 		</div>
  		
{#$pie#}