<script type='text/javascript'>
	function redireccion() {
		document.location.href = "index.php";
		}
	setTimeout("redireccion()",60000);
</script>

<body style="background:#00b8f1; overflow:hidden"><img src="Resources/Images/Servicio-no-disponible.jpg" /></body>
