{#$cabecera#}
    <style type="text/css">
       #datosPersonales{
          position:absolute;
          left:20px;
       }
    </style>     
    <script type="text/javascript" src="Resources/Js/validacion.paso4.js"></script>
	<script type="text/javascript" src="Resources/Js/validar.email.js"></script>   
	
	{#$datosPersonales#}
	{#$teclado#}
	{#$botonera#}
{#$pie#}