{#$cabecera#}
  		<link type="text/css" href="Resources/Css/paso5.css" rel="stylesheet" />
  		<script type="text/javascript" src="Resources/Js/validacion.paso5.js"></script>

  		<img src="Resources/Images/arrow1.png" width="10px" height="12px" id="arrow"/>
  		<div id="title_step_five">{#$subTituloPagina#}</div>
  		
	  		<div id="motivos">
	  			<ul id="motivosConsulta">
	  				{# foreach from=$listaTipoConsulta item=tipoConsulta #}
	  				<li id="{#$tipoConsulta.idTipoConsulta#}" onclick="next('{#$tipoConsulta.idTipoConsulta#}','{#$tipoConsulta.nombre#}','{# $tipoConsulta.valor #}', '{# $tipoConsulta.ListaSintomas #}')" >
	  					<button type="submit">{# $tipoConsulta.nombre #}</button>
	  				</li>
	  				{# /foreach #}
	  			 </ul> <!--/tipoPrevision -->
	  		</div> <!-- /motivos -->
  		
  		<div id="precios">
  			<ul id="precios_ul">
				{# foreach from=$listaTipoConsulta item=_tipoConsulta #}
					{#if $_tipoConsulta.esPrecio == 'S'#}
						<li class="precios"> {#$_tipoConsulta.valor|number_format:0:".":"."#}</li>
					{#else#}
						<li class="sin_precios">&nbsp;</li>
					{#/if#}
  				{# /foreach #}
	        </ul> <!--/precios_ul -->
  		</div> <!--/precios -->
  		
  		<img id="cuadro_paso5" src="Resources/Images/cuadro_paso5.png" width="235px" height="294px" />	
{#$pie#}