{#$cabecera#}
	<link href="Resources/Css/paso7.css" type="text/css" rel="stylesheet" />
	<script type="text/javascript" src="Resources/Js/validacion.paso7.js"></script>
	<div id="separador">
		<div id="confirmacion">
			<img src="Resources/Images/arrow1.png" id="arrow"/>
			<img src="Resources/Images/Paso7/presione.png" id="presione"/>
			<span id="info_motivo">
				Su motivo de consulta 
				<br />es <span class="rel_info">{#$motivoConsulta#}</span> 
				
				{#$mensajeDetalle#} <span class="rel_info"> {#if $sintomasMostrar#}{#$sintomasMostrar#} {#else#} {#if $sintoma#} {#$sintoma#}. {#/if#} {#/if#}</span>
				
				<br />
				<br />Su prevision es <span class="rel_info">{#$nombrePrevision#}</span>.
			</span>
		</div>
		
		<div id="medico">
			<img src="Resources/Images/Paso7/indicador.png" class="indicador" />
			 M&Eacute;DICO : <span style="color:cyan" id="nombreMedico">{#$medico#}</span>
			   <img src="Resources/Images/Paso7/indicador.png" class="indicador" />
			  BOX : <span style="color:cyan" id="idBox"> {#$idBox#}</span><br>
			
		</div>

		<div id="valor">
			<img src="Resources/Images/Paso7/indicador.png" class="indicador" />
			 VALOR : <span style="color:cyan" id="monto">$ {#$monto|number_format:0:".":"."#}</span><br>
			  <img src="Resources/Images/Paso7/indicador.png" class="indicador" />
			 TIEMPO DE ESPERA : <span style="color:cyan" id="tiempoEspera"> {#$tiempoEspera#} min.</span>
		</div>	 
		
		<div id="info">
			<img src="Resources/Images/Paso7/el_monot.png" id="el_monot"/>
		</div>
	</div>
{#$pie#}