<link type="text/css" href="Resources/Css/alert.css" rel="stylesheet" />
<script type="text/javascript">
	$(document).ready(function(){ 
		$('#contenedorAlertTexto').click(function(){
			$(this).hide(600);
		});
		$('#contenedorAlertImagen').click(function(){
			$(this).hide(600);
		});
	});
</script>
<div id="contenedorAlertTexto">
	<img src="Resources/Images/cuadrado_mensaje.png" />
	<span id="textoAlert"></span>
</div>

<div id="contenedorAlertImagen"></div>