{#$cabecera#}
<script type="text/javascript" src="Resources/Js/validacion.botonPago.js"></script>
	<button  id="transbank" value="Transbank" type="submit" onclick="next('0')">Transbank</button>
	<button  id="multicaja" value="Multicaja" type="submit"  onclick="next('1')" >Multicaja</button>
{#$cargando#}
{#$pie#}