body {
	margin: 0px;
	padding: 0px;
	background: url(/Theme/Adm/Images/html/fondo.jpg) top center repeat-xy;
	font: 11px "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: center;
	SCROLLBAR-FACE-COLOR: #000;
	SCROLLBAR-HIGHLIGHT-COLOR: #333;
	SCROLLBAR-SHADOW-COLOR: #FFF;
	SCROLLBAR-3DLIGHT-COLOR: #FFF;
	SCROLLBAR-ARROW-COLOR: #FFF;
	SCROLLBAR-TRACK-COLOR: #CCC;
	SCROLLBAR-DARKSHADOW-COLOR: #000;
}