<script language=javascript src=dynlayer.js></script>
<script language=javascript src=mixup.js></script>
<script>

/*
DHTML puzzle script (By Davey Erwin, daverwin@hotmail.com, http://daverwin.homepage.com/)
Modified slightly/ permission granted to Dynamic Drive to feature script in archive
For full source, usage terms, and 100's more DHTML scripts, visit http://dynamicdrive.com
*/

//1) Specify whether puzzle should be rendered in NS 4.
// "0" disables it (for use when you wish to place the puzzle inside table)
var display_in_NS=1

//2) Configure second and third parameter below for puzzle image/size
//Make width and height divisible by 3
myPuz=new Puzzle('myPuz','http://pcms.softkey.com/Tools/Download/?File=file_482afcfd04244.jpg',141,255)

//3) Specify how many line breaks should appear after puzzle (for spacing purposes)
//Pertains only to NS
var linebreaks=14

writeCSS(myPuz.css)
if (document.layers) {
widthCheck = window.innerWidth
heightCheck = window.innerHeight
window.onResize = resizeFix}
function resizeFix() {
if (widthCheck != window.innerWidth || heightCheck != window.innerHeight)
document.location.href = document.location.href}
function DavInit(){
DynLayerInit()}
if (document.all||(document.layers&&display_in_NS==1))
window.onload=DavInit 
</script>

<script>
if (document.all)
document.write(myPuz.div)
else if (document.layers&&display_in_NS==1){
document.write(myPuz.div)
for (spacer=0;spacer<=linebreaks;spacer++)
document.write('<br>')
}
</script>