FONT {
	FONT-FAMILY: Verdana, Helvetica;
	FONT-SIZE: 12px
}

TD {
	FONT-FAMILY: Verdana, Helvetica;
	FONT-SIZE: 12px
}

BODY {
	FONT-FAMILY: Verdana, Helvetica;
	FONT-SIZE: 12px;
	MARGIN-TOP: 12px;
	MARGIN-LEFT: 0px
}

P {
	FONT-FAMILY: Verdana, Helvetica;
	FONT-SIZE: 12px
}

DIV {
	FONT-FAMILY: Verdana, Helvetica;
	FONT-SIZE: 12px
}

INPUT {
	BORDER-TOP-COLOR: #000000;
	BORDER-LEFT-COLOR: #000000;
	BORDER-RIGHT-COLOR: #000000;
	BORDER-BOTTOM-COLOR: #000000;
	BORDER-TOP-WIDTH: 1px;
	BORDER-LEFT-WIDTH: 1px;
	FONT-SIZE: 12px;
	BORDER-BOTTOM-WIDTH: 1px;
	FONT-FAMILY: Verdana, Helvetica;
	BORDER-RIGHT-WIDTH: 1px
}

TEXTAREA {
	BORDER-TOP-COLOR: #000000;
	BORDER-LEFT-COLOR: #000000;
	BORDER-RIGHT-COLOR: #000000;
	BORDER-BOTTOM-COLOR: #000000;
	BORDER-TOP-WIDTH: 1px;
	BORDER-LEFT-WIDTH: 1px;
	FONT-SIZE: 12px;
	BORDER-BOTTOM-WIDTH: 1px;
	FONT-FAMILY: Verdana, Helvetica;
	BORDER-RIGHT-WIDTH: 1px
}

SELECT {
	BORDER-TOP-COLOR: #000000;
	BORDER-LEFT-COLOR: #000000;
	BORDER-RIGHT-COLOR: #000000;
	BORDER-BOTTOM-COLOR: #000000;
	BORDER-TOP-WIDTH: 1px;
	BORDER-LEFT-WIDTH: 1px;
	FONT-SIZE: 12px;
	BORDER-BOTTOM-WIDTH: 1px;
	FONT-FAMILY: Verdana, Helvetica;
	BORDER-RIGHT-WIDTH: 1px
}

FORM {
	FONT-FAMILY: Verdana, Helvetica;
	FONT-SIZE: 12px
}

A:link {
	BACKGROUND: none;
	COLOR: #000080;
	FONT-SIZE: 12px;
	font-weight: normal;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: none
}

A:active {
	BACKGROUND: none;
	COLOR: #000080;
	FONT-SIZE: 12px;
	font-weight: normal;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: underline
}

A:visited {
	BACKGROUND: none;
	COLOR: #000080;
	FONT-SIZE: 12px;
	font-weight: normal;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: none
}

A:hover {
	BACKGROUND: none;
	COLOR: #00C000;
	FONT-SIZE: 12px;
	font-weight: normal;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: underline
}

.title {
	BACKGROUND: none;
	COLOR: #000000;
	FONT-SIZE: 16px;
	FONT-WEIGHT: bold;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: none
}

.content {
	BACKGROUND: none;
	COLOR: #000000;
	FONT-SIZE: 12px;
	FONT-FAMILY: Verdana, Helvetica
}

.block-title {
	BACKGROUND: none;
	COLOR: #FFFFFF;
	FONT-SIZE: 12px;
	FONT-FAMILY: Verdana, Helvetica
}

.storytitle {
	BACKGROUND: none;
	COLOR: #FFFFFF;
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: none
}

.boxtitle {
	BACKGROUND: none;
	COLOR: #FFFFFF;
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: none
}

.boxcontent {
	BACKGROUND: none;
	COLOR: #000000;
	FONT-SIZE: 12px;
	FONT-FAMILY: Arial
}

.option {
	BACKGROUND: none;
	COLOR: #000000;
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: none
}

.tiny {
	BACKGROUND: none;
	COLOR: #FFFFFF;
	FONT-SIZE: 12px;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: none
}