FONT {
	FONT-FAMILY: Verdana, Helvetica;
	FONT-SIZE: 11px
}

TD {
	FONT-FAMILY: Verdana, Helvetica;
	FONT-SIZE: 11px
}

BODY {
	FONT-FAMILY: Verdana, Helvetica;
	FONT-SIZE: 11px
}

P {
	FONT-FAMILY: Verdana, Helvetica;
	FONT-SIZE: 11px
}

DIV {
	FONT-FAMILY: Verdana, Helvetica;
	FONT-SIZE: 11px
}

INPUT {
	FONT-FAMILY: Verdana, Helvetica;
	FONT-SIZE: 11px
}

TEXTAREA {
	FONT-FAMILY: Verdana, Helvetica;
	FONT-SIZE: 11px
}

FORM {
	FONT-FAMILY: Verdana, Helvetica;
	FONT-SIZE: 11px
}

body {
	scrollbar-face-color: #7E97C3;
	scrollbar-highlight-color: #000000;
	scrollbar-shadow-color: #7E97C3;
	scrollbar-3dlight-color: #7E97C3;
	scrollbar-arrow-color: #000000;
	scrollbar-track-color: #7E97C3;
	scrollbar-darkshadow-color: #c0c0c0;
}

select {
	font-size: 11px;
	background-color: #999999;
	color: #FFFFFF;
	font-family: Verdana, Geneva, Arial, Helvetica;
	border-color: #063C9E #063C9E #063C9E #063C9E;
}

A:link {
	BACKGROUND: none;
	COLOR: #000000;
	FONT-SIZE: 11px;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: none
}

A:active {
	BACKGROUND: none;
	COLOR: #000000;
	FONT-SIZE: 11px;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: none
}

A:visited {
	BACKGROUND: none;
	COLOR: #000000;
	FONT-SIZE: 11px;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: none
}

A:hover {
	BACKGROUND: none;
	COLOR: #000000;
	FONT-SIZE: 11px;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: none
}

.title {
	BACKGROUND: none;
	COLOR: #000000;
	FONT-SIZE: 13px;
	FONT-WEIGHT: bold;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: none
}

.content {
	BACKGROUND: none;
	COLOR: #000000;
	FONT-SIZE: 11px;
	FONT-FAMILY: Verdana, Helvetica
}

.storytitle {
	BACKGROUND: none;
	COLOR: #000000;
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: none
}

.storycat {
	BACKGROUND: none;
	COLOR: #999999;
	FONT-SIZE: 13px;
	FONT-WEIGHT: bold;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: underline
}

.boxtitle {
	BACKGROUND: none;
	COLOR: #000000;
	FONT-SIZE: 11px;
	FONT-WEIGHT: bold;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: none
}

.boxcontent {
	BACKGROUND: none;
	COLOR: #000000;
	FONT-SIZE: 12px;
	FONT-FAMILY: Verdana, Helvetica
}

.option {
	BACKGROUND: none;
	COLOR: #000000;
	FONT-SIZE: 13px;
	FONT-WEIGHT: bold;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: none
}

.tiny {
	BACKGROUND: none;
	COLOR: #000000;
	FONT-SIZE: 10px;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: none
}

.footmsg {
	BACKGROUND: none;
	COLOR: #000000;
	FONT-SIZE: 10px;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: none
}

.footmsg_l {
	BACKGROUND: none;
	COLOR: #000000;
	FONT-SIZE: 10px;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: none
}

.box {
	FONT-FAMILY: Verdana, Helvetica;
	FONT-SIZE: 11px;
	border: 1px solid #cccccc;
	background-color: #FEED9E
}

.tit2 {
	BACKGROUND: none;
	COLOR: #000000;
	FONT-SIZE: 18px;
	FONT-FAMILY: Papyrus
}

.small {
	BACKGROUND: none;
	COLOR: #000000;
	FONT-SIZE: 9px;
	FONT-WEIGHT: normal;
	FONT-FAMILY: Verdana, Helvetica;
	TEXT-DECORATION: none
}

/* Quote & Code blocks */
.code {
	font-family: Courier, 'Courier New', sans-serif;
	font-size: 11px;
	color: #FEED9E;
	border: #000000;
	border-style: solid;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px
}

.quote {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FEED9E;
	line-height: 125%;
	border: #000000;
	border-style: solid;
	border-left-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px
}

hr {
	height: 0px;
	border: solid #B872B8 0px;
	border-top-width: 1px;
}