<div id="rightBar" >
	   <span id="ingRut" class="title"><img src="resources/arrow1.png" id="arrow"/>&nbsp;&nbsp;Ingresa tu Rut:</span><br>
	   <span id="subtitle">&nbsp;&nbsp;SIN GUI&Oacute;N: (EJ:145377488)</span><br>
	   &nbsp;&nbsp;<input id="txtRut" />
	   <div id="botonera">
	      <table id="botones">
	        <tr>
		      <td><button id="btn1" class="btnBotonera"/></td>
			  <td><button id="btn2" class="btnBotonera"/></td>
			  <td><button id="btn3" class="btnBotonera"/></td>
		    </tr>
			<tr>
		      <td><button id="btn4" class="btnBotonera"/></td>
			  <td><button id="btn5" class="btnBotonera"/></td>
			  <td><button id="btn6" class="btnBotonera"/></td>
		    </tr>
			<tr>
		      <td><button id="btn7" class="btnBotonera"/></td>
			  <td><button id="btn8" class="btnBotonera"/></td>
			  <td><button id="btn9" class="btnBotonera"/></td>
		    </tr>
			<tr>
		      <td><button id="btn0" class="btnBotonera"/></td>
			  <td><button id="btnK" class="btnBotonera"/></td>
			  <td><button id="btnBorrar" class="btnBotonera"/></td>
		    </tr>
	      </table>
	   </div>